APP_NAME="Controle Financeiro"

DB_HOST=seu_host
DB_PORT=3306
DB_NAME=seu_banco
DB_USER=seu_usuario
DB_PASSWORD=sua_senha

SMTP_HOST=smtp.hostinger.com
SMTP_PORT=587
SMTP_USERNAME=seu_email@seu_dominio.com
SMTP_PASSWORD=sua_senha_smtp
SMTP_FROM_EMAIL=seu_email@seu_dominio.com
SMTP_FROM_NAME="Controle Financeiro"
